<%- include('../include/head') %> <%- include('../include/nav') %>

<section>
  <main>
    <div id="pane-left" class="pane-left">
      <fieldset>
        <legend class="w-auto h6"><%- EDIT.icon %> <b><%- REGISTERS.name %></b></legend>
        <form action="#">
          <div class="form-group">
            <input id="idHidden" type="hidden" />
          </div>
          <div class="form-group">
            <label for="description"><%- REGISTERS.inp1 %></label>
            <input id="description" type="text" class="form-control form-control-sm" autofocus />
          </div>
          <div class="form-group">
            <label for="note"><%- REGISTERS.inp2 %></label>
            <input id="note" type="text" class="form-control form-control-sm" />
          </div>
          <div class="form-group">
            <label for="name"><%- REGISTERS.inp3 %></label>
            <input id="name" type="text" class="form-control form-control-sm" />
          </div>
          <div class="form-group">
            <label for="surname"><%- REGISTERS.inp4 %></label>
            <input id="surname" type="text" class="form-control form-control-sm" />
          </div>
          <div class="form-group">
            <label for="phone"><%- REGISTERS.inp5 %></label>
            <input id="phone" type="text" class="form-control form-control-sm" />
          </div>
          <div class="form-group">
            <label for="obs"><%- REGISTERS.inp6 %></label>
            <input id="obs" type="text" class="form-control form-control-sm" />
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="mr-auto">
                <button id="destroy" type="button" data-toggle="tooltip" title="<%- DELETE.name %>" class="btn btn-danger btn-sm d-none"><%- DELETE.icon %></button>
                <button id="cancel" type="button" data-toggle="tooltip" title="<%- CANCEL.name %>" class="btn btn-secondary btn-sm d-none"><%- CANCEL.icon %></button>
              </div>
              <div class="ml-auto">
                <button id="storeUpdate" type="submit" class="btn btn-primary btn-sm"><%- SAVE.icon %> <%- SAVE.name %></button>
              </div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
    <div class="pane">
      <fieldset>
        <legend class="w-auto h6"><%- TABLE.icon %> <b><%- REGISTERS.list %></b></legend>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-sm text-center dataTable">
            <thead class="thead-light">
              <tr>
                <th scope="col"><%- REGISTERS.inp1 %></th>
                <th scope="col"><%- REGISTERS.inp2 %></th>
                <th scope="col"><%- REGISTERS.inp3 %></th>
                <th scope="col"><%- REGISTERS.inp4 %></th>
                <th scope="col"><%- REGISTERS.inp5 %></th>
              </tr>
            </thead>
            <tbody id="tbody"></tbody>
          </table>
        </div>
      </fieldset>
    </div>
  </main>
</section>

<!-- Renderer Function JS -->
<script src="./renderer.js"></script>

<%- include('../include/footer'); %>
