<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="..." />
    <meta name="author" content="DX Suporte - Danilo Xavier" />
    <meta name="generator" content="visual studio code" />
    <meta name="keywords" content="nodejs, bootstrap" />
    <title><%- TITLE %></title>
    <!-- Favicons -->
    <link href="<%- process.env.BASE_URL %>/public/img/favicon.png" rel="icon" />
    <!-- Bootstrap -->
    <link href="<%- process.env.BASE_URL %>/public/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Icon -->
    <link href="<%- process.env.BASE_URL %>/public/vendor/bootstrap/css/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Start CSS -->
    <link href="<%- process.env.BASE_URL %>/public/css/start.css" rel="stylesheet" type="text/css" />
    <!--jquery -->
    <script src="<%- process.env.BASE_URL %>/public/vendor/jquery/jquery.min.js"></script>
    <!-- Start JS -->
    <script src="<%- process.env.BASE_URL %>/public/js/start.js"></script>
  </head>

  <body>
    <div class="window">