<header>
  <div class="form-row">
    <div class="mr-auto">
      <div class="btn-group" role="group">
        <button id="reload" type="button" class="btn btn-secondary btn-sm"><%- REGISTER.icon %> <%- REGISTER.name %></button>
        <a id="btn-register" href="https://google.com.br" target="framename_b" role="button" class="btn btn-secondary btn-sm"><%- USER.icon %> <%- USER.name %></a>
      </div>
    </div>
    <div class="ml-auto">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary btn-sm"><%- USER.icon %> <%- process.env.authUser %></button>
      </div>
    </div>
  </div>
</header>
