<header>
  <div class="form-row">
    <div class="mr-auto">
      <div class="btn-group" role="group">
        <a id="btn-register" href="<%- process.env.BASE_URL %>/view/register/index.ejs" role="button" class="btn btn-secondary btn-sm"><%- REGISTER.icon %> <%- REGISTER.name %></a>
        <a id="btn-user" href="<%- process.env.BASE_URL %>/view/user/index.ejs" role="button" class="btn btn-secondary btn-sm"><%- USER.icon %> <%- USER.name %></a>
      </div>
    </div>
    <div class="ml-auto">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary btn-sm"><%- USER.icon %> <%- process.env.authUser %></button>
      </div>
    </div>
  </div>
</header>
